html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#vhsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none; 
  opacity: 0.5;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  font-family: 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: 10000;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: repeating-conic-gradient(#8B0000 0 25%, #DC143C 0 50%) 0 0 / 80px 80px;
  animation: move-bg 4s linear infinite;
  z-index: -1;
}

.tv-line {
  width: 100vw;
  height: 2px;
  background: white;
  animation: tvOn 1.5s ease-out forwards;
}

@keyframes tvOn {
  0% {
    height: 2px;
    opacity: 1;
  }
  30% {
    height: 100vh;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes move-bg {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-80px, -80px);
  }
}

@view-transition {
  navigation: auto;
}

img[src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/1280px-HD_transparent_picture.png"] {
  transition: transform 0.3s ease;
  cursor: pointer;
}

img[src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/1280px-HD_transparent_picture.png"]:hover {
  transform: scale(1.2);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}




