
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

html, body {
  overflow-y: auto;
  scroll-behavior: smooth;
}

#vhsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none; 
  opacity: 0.5;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: repeating-conic-gradient(#8B0000 0 25%, #DC143C 0 50%) 0 0 / 80px 80px;
  animation: move-bg 4s linear infinite;
  z-index: -1;
}

.tv-line {
  width: 100vw;
  height: 2px;
  background: white;
  animation: tvOn 1.5s ease-out forwards;
}

@keyframes tvOn {
  0% {
    height: 2px;
    opacity: 1;
  }
  30% {
    height: 100vh;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes move-bg {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-80px, -80px);
  }
}

@view-transition {
  navigation: auto;
}

body {
  min-height: 100vh;
  display: block;
  padding: 20px;
  overflow-x: hidden;
}

.gallery-item img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.gallery-item:hover img {
  transform: scale(1.05) rotate(-1deg);
  filter: contrast(150%) saturate(120%) hue-rotate(10deg);
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.4);
}

.gallery-title {
  font-size: 2rem;
  color: white;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', serif;
}

.gallery-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
}

.gallery-item {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.gallery-item:hover {
  animation: glitchBorder 0.3s infinite;
}

@keyframes glitchBorder {
  0% { border-color: #ccc; }
  50% { border-color: crimson; }
  100% { border-color: #ccc; }
}

.desc {
  font-size: 0.9rem;
  color: white;
  font-family: 'Trebuchet MS', serif;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

div.gallery:hover {
  border: 1px solid #777;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.back-button {
  position: fixed;
  bottom: -30px;
  right: 20px;
  z-index: 9999;
  width: 140px;
  height: 140px;
  display: block;
  overflow: hidden;
}

.back-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: filter 0.2s ease;
  filter: drop-shadow(0 0 6px #ff00cc88);
}

.back-button:hover img {
  filter: brightness(1.2);
}


