html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#vhsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  pointer-events: none; 
  opacity: 0.5;
}

body {
  cursor: url('https://soullessfunkmistarchive.github.io/storage2/page-files/spongebob_cursor.png'), 0 0, auto;
}

html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: repeating-conic-gradient(#8B0000 0 25%, #DC143C 0 50%) 0 0 / 80px 80px;
  animation: move-bg 4s linear infinite;
  z-index: -1;
}

.tv-line {
  width: 100vw;
  height: 2px;
  background: white;
  animation: tvOn 1.5s ease-out forwards;
}

@keyframes tvOn {
  0% {
    height: 2px;
    opacity: 1;
  }
  30% {
    height: 100vh;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes move-bg {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-80px, -80px);
  }
}

@view-transition {
  navigation: auto;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.funkmist-build {
  background: linear-gradient(to bottom, #0a0a0a, #1a1a1a);
  border: 2px solid #666;
  box-shadow: 0 0 12px rgba(255, 0, 0, 0.3);
  font-family: 'Trebuchet MS', serif;
  color: #ccc;
  width: 240px;
  padding: 12px;
  margin: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.back-button {
  position: fixed;
  bottom: -30px;
  right: 20px;
  z-index: 998;
  width: 140px;
  height: 140px;
  display: block;
  overflow: hidden;
}

.back-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: filter 0.2s ease;
  filter: drop-shadow(0 0 6px #ff00cc88);
}

.back-button:hover img {
  filter: brightness(1.2);
}

.funkmist-build img {
  width: 100%;
  height: auto;
  border: 1px solid #333;
  margin: 8px 0;
}

.build-header {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 2px red;
}

.build-container {
  background-color: #000;
  border: 3px double #444;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.2);
  font-family: 'Trebuchet MS', serif;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.build-container::before {
  content: "BUILDS";
  position: absolute;
  font-family: 'Trebuchet MS', serif;
  top: -16px;
  left: 20px;
  font-size: 12px;
  color: #f00;
  background-color: #000;
  padding: 0 6px;
  letter-spacing: 1px;
}
